debug.test
coverage.txt
/bin/
/gndb
t
t.json
.env
# direnv local environment - may contain secrets (use .envrc.example as template)
.envrc
*.pprof
*.trace
*.test
*test
.idea
.vscode
*.tar.gz
bench*.txt
binding/*.so
binding/*.h
*out
