debug.test
coverage.txt
t
t.json
gndb
.env
.envrc  # direnv local environment - may contain secrets (use .envrc.example as template)
*.pprof
*.trace
*.test
*test
.idea
.vscode
*.tar.gz
bench*.txt
binding/*.so
binding/*.h
*out
gndb
